* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font: 14px/1.5 Helvetica, Sans-Serif;
}

body, form, input, button, select, option {
  font: inherit;
}

body {
  max-width: 60em;
  margin: 0 auto;
  padding: 0 auto;
  color: #fff;
}

.box {
  margin: 5em 5em;
  padding: 5em 5em;
  background: #ff7b29;
  cursor: pointer;
  height: 95px;
  width: 95px;
  transition-property: background, border-radius;
  transition-duration: 1s;
  transition-timing-function: linear;
}

.box:hover {
  background: #ff3333;
  border-radius: 50%;
}