* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font: 14px/1.5 Helvetica, Sans-Serif;
}

body, form, input, button, select, option {
  font: inherit;
}

body {
  max-width: 60em;
  margin: 0 auto;
  padding: 0 auto;
  color: #fff;
  text-align: center;
}

.box {
  display: inline-block;
  margin: 5em 5em;
  padding: 5em 5em;
  border-radius: 50%;
  background: #ff3333;
  cursor: pointer;
  height: 95px;
  width: 95px;
}

@keyframes square {
  0% {
    border-radius: 50%;
    background: #ff3333;
  }
  50% {
    background: #ff7b29;
    border-radius: 0%;
  }
  100% {
    border-radius: 50%;
    background: #ff3333;
  }
}

.box:hover {
  animation: square 5s linear infinite;
}